.MuiIconButton-label {
    flex-direction: column;
}

.MuiPopover-paper {
    outline: 0;
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
    width: 250px;
    height: 210px;
    // min-height: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.MuiList-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.MuiAvatar-root {
    width: 60px;
    height: 60px;
}

.profileDetails {
    margin-top: 10px;
}